body{
  text-align: center;
  background-image:  url("https://previews.123rf.com/images/alonastep/alonastep1707/alonastep170700087/82438869-gold-stars-falling-confetti-isolated-on-white-transparent-background-golden-abstract-confetti-decora.jpg");
  background-repeat: no-repeat;
  font-family: 'Chicle', cursive;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border-top: auto;
}
